<c-layouts.guest>
  <div class="flex-1 flex items-center justify-center px-6 py-12">
    <div class=" w-full max-w-md overflow-hidden space-y-12">
      <div class="text-4xl font-bold text-on-surface-strong dark:text-on-surface-dark-strong">
        <c-application-logo />
      </div>
      <div class="text-center">
        <h2 class="text-3xl text-on-primary font-bold mb-2">Welcome back</h2>
        <p class="text-on-primary mb-8">Sign in to your account to continue</p>

        <form method="POST">
          {% csrf_token %}
          <div class="mb-6">
            <c-input id="id_login" name="login" label="Email Address" type="email" placeholder="Email"
              :errors="form.login.errors" />
          </div>

          <div class="mb-6">
            <c-input id="id_password" name="password" type="password" label="Password" :errors="form.password.errors"
              placeholder="••••••••" />
          </div>
          <button type="submit"
            class="w-full whitespace-nowrap rounded-radius bg-primary border border-primary px-4 py-2 text-base font-medium tracking-wide text-on-primary transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-primary-dark dark:border-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark">Sign
            In</button>
        </form>

        <div class="mt-8 space-y-3 text-center">
          <p class="text-on-primary">
            Don't have an account? <a href="{% url 'account_signup' %}" class="text-info hover:underline">Sign
              up</a>
          </p>
          <a href="#" class="text-sm text-info hover:underline">Forgot password?</a>
        </div>
      </div>
    </div>
  </div>
</c-layouts.guest>
