<c-layouts.guest>
  <div class="flex-1 flex items-center justify-center px-6 py-12">
    <div class="w-full max-w-md overflow-hidden space-y-12">
      <div class="text-4xl font-bold text-on-surface-strong dark:text-on-surface-dark-strong">
        <c-application-logo />
      </div>
      <div class="text-center">
        <h2 class="text-3xl font-bold mb-2">Create your account</h2>
        <p class="text-gray-400 mb-8">Start shipping products today</p>

        <form method="POST">
          {% csrf_token %}
          <div class="grid grid-cols-2 gap-4 mb-6">
            <div>
              <c-input id="id_first_name" type="text" label="First Name" name="first_name" placeholder="John"
                :errors="form.first_name.errors" required />
            </div>
            <div>
              <c-input id="id_last_name" type="text" label="Last Name" name="last_name" placeholder="Doe"
                :errors="form.last_name.errors" required />
            </div>
          </div>
          <div class="mb-6">
            <c-input id="id_email" type="email" label="Email Address" name="email" placeholder="you@example.com"
              :errors="form.email.errors" required />
          </div>

          <div class="mb-6">
            <c-input id="id_password1" type="password" label="Password" name="password1"
              placeholder="Create a strong password" :errors="form.password1.errors" required />
            <div class="mt-2 flex">
              <div class="h-1 w-1/4 bg-neutral-700 rounded-full mr-1"></div>
              <div class="h-1 w-1/4 bg-neutral-700 rounded-full mr-1"></div>
              <div class="h-1 w-1/4 bg-neutral-700 rounded-full mr-1"></div>
              <div class="h-1 w-1/4 bg-neutral-700 rounded-full"></div>
            </div>
          </div>
          <div class="mb-6">
            <c-input id="id_password2" type="password" label="confirm Password" name="password2"
              placeholder="Retype password" :errors="form.password2.errors" required />
          </div>

          <div class="flex items-start mb-6">
            <label for="checkboxDefault"
              class="flex items-center gap-2 text-sm font-medium text-on-surface dark:text-on-surface-dark has-checked:text-on-surface-strong dark:has-checked:text-on-surface-dark-strong has-disabled:cursor-not-allowed has-disabled:opacity-75">
              <div class="relative flex items-center">
                <input id="checkboxDefault" type="checkbox"
                  class="before:content[''] peer relative size-4 appearance-none overflow-hidden rounded-sm border border-outline bg-surface-alt before:absolute before:inset-0 checked:border-primary checked:before:bg-primary focus:outline-2 focus:outline-offset-2 focus:outline-outline-strong checked:focus:outline-primary active:outline-offset-0 disabled:cursor-not-allowed dark:border-outline-dark dark:bg-surface-dark-alt dark:checked:border-primary-dark dark:checked:before:bg-primary-dark dark:focus:outline-outline-dark-strong dark:checked:focus:outline-primary-dark" />
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor"
                  fill="none" stroke-width="4"
                  class="pointer-events-none invisible absolute left-1/2 top-1/2 size-3 -translate-x-1/2 -translate-y-1/2 text-on-primary peer-checked:visible dark:text-on-primary-dark">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
              </div>
              <span>I agree to the <a href="#" class="text-info hover:underline cursor-pointer">Terms of
                  Service</a> and <a href="#" class="text-info hover:underline cursor-pointer">Privacy
                  Policy</a></span>
            </label>
          </div>
          <button type="submit"
            class="w-full whitespace-nowrap rounded-radius bg-primary border border-primary px-4 py-2 text-base font-medium tracking-wide text-on-primary transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-primary-dark dark:border-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark">
            Sign Up
          </button>
        </form>

        <div class="mt-8 text-center">
          <p class="text-gray-400">
            Already have an account? <a href="{% url 'account_login' %}"
              class="text-info hover:underline cursor-pointer">Sign in</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</c-layouts.guest>
