{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-screen" data-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <title>Launchpad</title>
</head>

<body class="bg-surface dark:bg-surface-dark text-on-surface dark:text-on-surface-dark min-h-screen flex flex-col">
  <c-navbar />
  {{ slot }}
  <script src="{% static 'js/bundle.js' %}"></script>
</body>

</html>
