<header class="py-8 shadow-lg">
    <div class="flex items-center justify-between max-w-7xl mx-auto">
        <div>
            <a class="flex items-center justify-center space-x-2" href="/">
                <span>
                    <c-icons.rocket class="h-6 w-6" />
                </span>
                <span class="text-lg font-bold leading-1">Launchpad</span>
            </a>
        </div>
        <div class="space-x-4">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="">Profile</a>
            <a href="{% url 'account_logout' %}" class="">Log
                out</a>
            {% else %}

            <a href="{% url 'account_login' %}" class="">Sign
                In</a>
            <a href="{% url 'account_signup' %}" class=" ">Sign
                Up</a>
            {% endif %}
        </div>
    </div>
</header>